body {
    font-family: 'Lucida Sans', sans-serif;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: blanchedalmond;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-radius: 20px;
}
h1, #message {
    color: rgba(165, 42, 42, 0.978);
}
button, .cell {
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(165, 42, 42, 0.803);
    color: white;
}
button:hover {
    background-color: rgba(165, 42, 42, 0.978);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
    aspect-ratio: 1;
}
.cell {
    background-color: rgba(137, 43, 226, 0.51);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: crimson;
    box-shadow: 0px 0px 1px 0.5px black;
    font-size: 40px;
}
.cell:hover {
    background-color: rgba(137, 43, 226, 0.7);
}
.cell.disabled {
    pointer-events: none;
}
#message {
    background-color: white;
    margin: 20px;
    padding: 10px 20px;
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
}

@media (max-width: 800px) {
    .container { width: 90%;}
    .board { max-width: 300px;}
    .cell {font-size: 35px;}
}

@media (max-width: 500px) {
    .container { padding: 20px; }
    h1 { font-size: 24px;}
    .board {max-width: 250px;}
    .cell { font-size: 30px; }
    button { font-size: 18px; }
    #message {
        font-size: 16px;
        padding: 8px 16px;
    }
}

